@using Blogger.Models.ViewModels
@model Publicacao
@{
    var comentarioVM = new CadastrarComentarioViewModel { PublicacaoId = Model.Id };
    var usuarioAutenticado = ViewBag.UsuarioLogado;
}

<div class="container row">
    <div class="col"></div>
    <div class="col-10 fs-5" style="text-align:justify;text-justify:inter-word;">
        <div>
            <div class="text-center">
                <h1>@Model.Titulo</h1>
            </div>
            <h5 class="text-center">@Model.SubtTitulo</h5>
            <hr />
            <div class="mx-3">
                @Html.Raw(Model.Conteudo)
            </div>
        </div>
        <div>
            <div class="p-2">
                Escrito em @Model.Data.Value.ToString("dd/MM/yyyy") por @Model.NomeAutor
                @if (Model.DataAtualizacao != DateTime.MinValue)
                {
                    <span>Editado em: @Model.DataAtualizacao</span>
                }
            </div>
            <hr />
            <h2 class="text-center">Comentários</h2>
            @if (usuarioAutenticado)
            {
                <partial name="~/Views/Comentario/_Cadastrar.cshtml" model="comentarioVM" />
            }else{
                <p class="text-warning text-center px-2">Entre ou Cadastre-se para comentar!</p>
            }
            <div class="mb-5">
                <br />          
                @if (Model.Comentarios.Count > 0 && Model.Comentarios != null)
                {
                    @foreach (var c in Model.Comentarios)
                    {
                        <div>
                            <div class="border rounded p-4 pb-0 mb-2">
                                <div class="d-flex">
                                    <div class="placeholder rounded me-3" style="width: 4rem; height: 4rem;"></div>
                                    <h4 class="ms-3">@c.Autor</h4>
                                </div>
                                <div class="ms-5">
                                    <p class="ps-5 mb-0 text-break">@c.Descricao</p>
                                </div>
                                <span class="text-secondary mt-4 d-flex justify-content-end fs-6">@c.Data</span>
                            </div>                      
                        </div> 
                    }
                }
                else
                {
                    <h3>Não existem comentarios para essa publicação!</h3>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

