@using Blogger.Models.ViewModels
@using System.Security.Claims
@model Publicacao
@{
    var comentarioVM = new CadastrarComentarioViewModel { PublicacaoId = Model.Id };
    var usuarioAutenticado = ViewBag.UsuarioLogado;
    var userId = ViewBag.UsuarioId;
}


<div id="detalhesPubli" class="container row">
    <div class="col"></div>
    <div class="col-10 fs-5" style="text-align:justify;text-justify:inter-word;">
        <div>
            <div class="text-center">
                <h1>@Model.Titulo</h1>
            </div>
            <h5 class="text-center">@Model.SubtTitulo</h5>
            <hr />
            <div class="mx-3">
                @Html.Raw(Model.Conteudo)
            </div>
        </div>
        <div>
            <div class="p-2">
                Escrito em @Model.Data.Value.ToString("dd/MM/yyyy") por @Model.NomeAutor
                @if (Model.DataAtualizacao != DateTime.MinValue)
                {
                    <span>Editado em: @Model.DataAtualizacao</span>
                }
            </div>
            <hr />
            <h2 class="text-center">Comentários</h2>
            @if (usuarioAutenticado)
            {
                <partial name="~/Views/Comentario/_Cadastrar.cshtml" model="comentarioVM" />
            }else{
                <p class="text-warning text-center px-2">Entre ou Cadastre-se para comentar!</p>
            }
            <div class="mb-5">
                <br />          
                @if (Model.Comentarios.Count > 0 && Model.Comentarios != null)
                {
                    @foreach (var c in Model.Comentarios)
                    {
                        <div>
                            <div class="border rounded p-4 pb-0 mb-2">
                                <div class="d-flex">
                                    <div class="placeholder rounded me-3" style="width: 4rem; height: 4rem;"></div>
                                    <h4 class="ms-3">@c.Autor</h4>
                                </div>
                                <div class="ms-5">
                                    <p class="ps-5 mb-0 text-break">@c.Descricao</p>
                                </div>
                                <span class="text-secondary mt-4 d-flex justify-content-end fs-6">@c.Data</span>
                            </div>                      
                        </div> 
                    }
                }
                else
                {
                    <h3>Não existem comentarios para essa publicação!</h3>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Exclusão?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deseja mesmo excluir essa publicação? A operação é permanente.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" data-bs-dismiss="modal" onclick="confirmarExclusao()">Deletar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="successModal">Confirmação de exclusão</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deletado com sucesso
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="RecarregarPagina()" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (userId != null)
    {        
        @if (Model.UsuarioId == int.Parse(userId))
        {
            <div class="d-grid gap-2 mb-3">
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="GuardarIdPublicacao(@Model.Id)">Deletar</a>
            </div>
        }
    }
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>

    let publicacaoId = null;

    function GuardarIdPublicacao(id) {
        publicacaoId = id;
    }

    function RecarregarPagina() {
        window.location.href = '/Publicacao/Index';
    }

    function abrirModal() {
        var modalElement = document.getElementById('successModal');
        var modal = new bootstrap.Modal(modalElement);
        modal.show(); // Chama a modal
    }

    async function confirmarExclusao() {
        let id = publicacaoId;
        let response = await fetch(`/Publicacao/Deletar?id=${id}`);

        if (response.ok) {
            abrirModal();

        } else {
            alert("ocorreu um erro")
        }
    }
</script>