@using Blogger.Models
@model IEnumerable<Publicacao>


<link rel="stylesheet" href="~/css/IndexPublicacao.css" asp-append-version="true" />


<div class="container d-flex row ">
    <div class="d-block ">
        <a class="mb-3 btn btn-success" asp-action="Cadastrar">Criar publicação</a>
    </div>

    @if (Model.Count() > 0)
    {

               
            @foreach (var p in Model)
            {

                <div class="card m-3 col-3 ">
                    <div class="container d-flex">
                    <img src="/imagens/@p.Imagem" style="width:150px;height:150px;" class="p-0" alt="...">
                   </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">Tags referentes a publicação</li>
                    </ul>
                    <div class="card-body text-center">
                        <h3 class="m-0 card-title fs-3">@p.Titulo</h3>
                    </div>
                    <div class="card-footer text-center ">
                        <a class="btn btn-success" asp-action="Detalhes" asp-route-id="@p.Id">Visualizar</a>
                        <a class="btn btn-warning" asp-action="Editar" asp-route-id="@p.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@p.Id">Deletar</a>

                    </div>
                    <span class="px-2">
                        @p.Data
                    </span>
                </div>
            }      
               
    }
    else
    {
        <h1>Não existem publicações!</h1>
    }
</div>

